<!DOCTYPE html>
<html lang="en">

<head>
    <title>Latest mempool ordinals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Real-time view of image ordinals as soon as they appear in the BTC mempool.">
    <meta keywords="Bitcoin mempool ordinals inscriptions">
    <meta author="grdddj - https://github.com/grdddj">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
</head>

<body>
    <h2>Latest ordinals in mempool</h2>
    <p class="center">New pictures appear automatically, no need for page refresh.</p>
    <div class="center">Picture ordinals in mempool: <strong><span id="overall"></span></strong></div>
    <div id="images-container"></div>
    <footer>
        <div class="social-icons">
            Created by grdddj
            <a href="https://github.com/grdddj" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/grdddj" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <p>
            <span>Also check out</span>
            <a href="https://ordsimilarity.com" target="_blank"> OrdSimilarity </a>
            <span>and</span>
            <a href="https://btcstatts.com" target="_blank"> BtcStatts </a>
        </p>
        <p>
            Disclaimer: We take no responsibility for the content in the inscriptions.
        </p>
    </footer>

</body>

</html>
